@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600,600i,700,700i,800,800i&display=swap');
body,html{
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
  margin: 0px;
}

*{
  border-style: solid;
  border-color: black;
  border-width: medium;
}

.maincontainer{
  display:flex;
  justify-content:center;
  flex-direction: column;
}

.header {
  font-size: 100px;
  font-weight: 600;
  background-position:center;
}

.header2{
  font-weight:600;
}
.header, .header2{
  text-align:center;
  background-image:url('https://bbo.dance/images/about/facilities/bbodance_scan1.jpg');
}

.headerstyle2{
  text-decoration:none;
  color:black;
  font-size: 70px;
}

.headerstyle{
  text-decoration:none;
  font-size:100px;
  color:black;
}

.navbar {
  display:flex;
  justify-content:space-between;
  background-color:black;
  padding-left: 30px;
  padding-right: 30px;
}

.linkballet, .linkjazz, .linktap, .linkhiphop, .linklyrical{
  font-size:30px;
  color:white;
  text-decoration:none;
}

.linkballet:hover{
  color:#B35F62;
}

.linkjazz:hover{
  color:#FF757A;
}

.linktap:hover{
  color:#FFFD8F;
}

.linklyrical:hover{
  color:#A8DFFF;
}

.linkhiphop:hover{
  color:#B3B152;
}

.footer{
  background-color:black;
}

.copyright{
  font-size:15px;
  color:white;
  text-align:center;
}
