@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600,600i,700,700i,800,800i&display=swap');
body,html{
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
  margin: 0px;
}

*{
  border-style: solid;
  border-color: black;
  border-width: medium;
}

.maincontainer{
  display:flex;
  justify-content:center;
  flex-direction: column;
}

.header {
  font-size: 100px;
  font-weight: 700;
  background-position:center;
}

.header2{
  font-weight:700;
}
.header, .header2{
  text-align:center;
  background-image:url('https://bbo.dance/images/about/facilities/bbodance_scan1.jpg');
  background-position: center;
  background-color: black;
  opacity:0.5;
}

.headerstyle2{
  text-decoration:none;
  color:White;
  font-size: 70px;
}

.headerstyle{
  text-decoration:none;
  font-size:100px;
  color:white;
}

.navbar {
  display:flex;
  justify-content:space-between;
  background-color:black;
  padding-left: 30px;
  padding-right: 30px;
}

.linkballet, .linkjazz, .linktap, .linkhiphop, .linklyrical{
  font-size:30px;
  color:white;
  text-decoration:none;
}

.linkballet:hover{
  color:#75A6FF;
}

.linkjazz:hover{
  color:#FF4626;
}

.linktap:hover{
  color:#C5FF3D;
}

.linklyrical:hover{
  color:#174EB3;
}

.linkhiphop:hover{
  color:#93B349;
}

p{
  font-size:20px;
  text-indent:50px;
}

.beginning{
  display: flex;
  justify-content:space-around;
  justify-content: space-between;
  margin-left: 100px;
  margin-right:100px
  /* flex-wrap:wrap; */
}

.middle{
  display: flex;

}

.footer{
  background-color:black;
}

.copyright{
  font-size:15px;
  color:white;
  text-align:center;
}
